.headerContainer {
  height: 4rem;
}

.headerContent {
  max-width: 1120px;
  height: 4rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.headerContent img {
  width: 40px;
  height: 40px;
}

.headerContent button {
  margin-left: auto;
}

.headerContent nav {
  margin: 1rem 0 0 4rem;
  height: 4rem;
}

.headerContent nav a {
  font-family: "Volkhov";
  text-transform: lowercase;
  font-size: 1.4rem;

  color: black;

  display: inline-block;
  position: relative;
  padding: 0 0.5rem;
  height: 2rem;
  line-height: 4rem;
  text-decoration: none;
  transition: line-through 0.5s;
}

.headerContent nav a + a {
  margin-left: 2rem;
}

.headerContent nav a:hover {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  animation: lineCrossing 0.2s linear;
}

.headerContent nav a.active {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  pointer-events: none;
}

@keyframes lineCrossing {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: black;
  }
}
