.content {
  text-align: end;
  padding: 3rem 3rem 0 3rem;
  animation: pageDisplaying 1s;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1.5rem;
    text-align: center;

    p {
      margin-top: 1.5rem;
      text-align: center;
    }
  }

  .personal {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .picture {
      border-radius: 50%;
      width: 170px;
      height: 170px;
      overflow: hidden;
      margin-bottom: 2rem;

      @media (max-width: 480px) {
        margin-bottom: 1rem;
      }
    }

    @media (max-width: 480px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: 800px) {
    padding-bottom: 1.5rem;
    padding-top: 2rem;
  }

  @media (max-width: 480px) {
    text-align: center;
  }
}

@keyframes pageDisplaying {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
