.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  text-align: center;
<<<<<<<< HEAD:src/styles/Home.module.css
  animation: pageDisplaying 1s;
========

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
>>>>>>>> e46fffac71423579fa544a84bf713b29a90e34ea:src/styles/Home.module.scss
}

.main .homeNav {
  width: 80%;
}

.main :not(:last-child) {
  margin-bottom: 1.5rem;
}

.homeNav ul {
  display: flex;
  justify-content: space-between;
}

.homeNav ul li {
  margin: 0 auto;
}

.homeNav a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  transition: line-through 0.5s;
}

.homeNav a:hover {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  animation: lineCrossing 0.2s linear;
}

@keyframes lineCrossing {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: black;
  }
}

@keyframes pageDisplaying {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .main {
    margin: 0 1rem;
  }
}

@media (max-width: 480px) {
  .homeNav a {
    font-size: 1.5rem;
  }
}
