.container {
  position: relative;
  z-index: 10;

  .openContainer {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 1rem 0 0 1rem;

    @media (max-width: 1050px) {
      padding: 0.7rem 0 0 0.7rem;
    }
  }

  .openIcon {
    color: black;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: rotate(90deg);
    }
  }

  .content {
    position: fixed;
    width: 250px;
    height: 100vh;

    padding: 1rem 1rem 0 0;

    display: flex;
    flex-direction: column;

    background-color: #333;

    .contacts {
      padding-bottom: 2rem;

      @media (max-width: 640px) {
        padding-bottom: 4rem;
      }
    }

    .closeIcon {
      float: right;

      color: white;
      font-size: 2rem;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: rotate(-45deg);
      }
    }
  }

  .mainNav {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    flex-grow: 1;

    a {
      font-size: 1.5rem;
      text-decoration: none;
      font-family: "Volkhov";
      text-transform: lowercase;
      color: white;
      text-decoration: none;
      transition: line-through 0.5s;

      &:hover {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        animation: lineCrossing 0.2s linear;
      }

      &.active {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        pointer-events: none;
      }
    }

    a + a {
      margin-top: 2rem;
    }
  }
}

@keyframes lineCrossing {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: white;
  }
}
