.headerContainer {
  height: 4rem;
}

.headerContent {
  max-width: 1120px;
  height: 4rem;
  margin: 0 auto;

  display: flex;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
  }

  button {
    margin-left: auto;
  }

  nav {
    margin: 1rem 0 0 4rem;
    height: 4rem;

    a {
      font-family: "Volkhov";
      text-transform: lowercase;
      font-size: 1.4rem;

      color: black;

      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 2rem;
      line-height: 4rem;
      text-decoration: none;
      transition: line-through 0.5s;

      &:hover {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        animation: lineCrossing 0.2s linear;
      }

      &.active {
        text-decoration: line-through;
        text-decoration-thickness: 2px;
        pointer-events: none;
      }
    }

    a + a {
      margin-left: 2rem;
    }
  }
}

@keyframes lineCrossing {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: black;
  }
}

@media (max-width: 1124px) {
  .headerContainer {
    margin: 0 1.5rem;
  }
}

@media (max-width: 480px) {
  .headerContent nav a {
    font-size: 1.2rem;
  }
}
