.content {
  text-align: end;
  margin: 2.5rem 3rem 0 3rem;
  animation: pageDisplaying 1s;
}

.content h1 {
  margin-bottom: 1rem;
}

@keyframes pageDisplaying {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .content {
    margin-top: 3rem;
  }
}
