.content {
  text-align: end;
  margin: 5rem 3rem 1.5rem 3rem;
  animation: pageDisplaying 1s;
}

.content h1 {
  margin-bottom: 1rem;
}

.content p {
  margin: 1.5rem 0;
  text-align: center;
}

.content a {
  text-decoration: none;
  font-family: "Volkhov", sans-serif;
  font-style: italic;
  color: black;
  font-size: 1.5rem;
  text-transform: lowercase;
  transition: all 0.5s;
}

.content a:hover {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  animation: lineCrossing 0.2s linear;
}

.titles {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.tags {
  display: flex;
  align-items: baseline;
}

.tags h3 {
  margin-left: 1rem;
}

.description {
  text-align: center;
  margin-bottom: 2rem;
}

.playerWrapper {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 3rem;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes lineCrossing {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: black;
  }
}

@keyframes pageDisplaying {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
